<div class="container">
  <input
    (change)="onImageUpload($event)"
    #imageControl
    class="image-uploader"
    type="file"
    accept="image/*"
  />

  <div class="uploader-wrapper">
    @if(usrLogo) {
    <img
      class="uploaded-image"
      [src]="usrLogo"
      [alt]="txt1Control?.value"
      (error)="errorHandler($event)"
    />
    }@else {
    <div class="logo-placeholder" (click)="uploadImage(imageControl)">
      <span>PHOTO</span>
    </div>
    }

    <button
      style="background-color: #fff"
      type="button"
      mat-icon-button
      (click)="uploadImage(imageControl)"
    >
      <mat-icon>cloud_upload</mat-icon>
    </button>
  </div>

  <form class="input-fields" [formGroup]="form">
    <mat-form-field appearance="outline" required>
      <mat-label>جهة العمل</mat-label>
      <input type="text" matInput formControlName="txt3" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>المنصب</mat-label>
      <input type="text" matInput formControlName="txt2" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>الأسم</mat-label>
      <input type="text" matInput formControlName="txt1" />
    </mat-form-field>
  </form>

  <button
    class="generate-button"
    type="button"
    [disabled]="!(form.valid && usrLogo)"
    mat-raised-button
    color="primary"
    (click)="generateTemplate()"
  >
    @if(!generatePending) {
    <span>Generate Image</span>
    }@else {

    <mat-spinner [diameter]="20"></mat-spinner>
    }
  </button>

  <!-- <img #generatedTemplate src="assets/images/image-template.svg" alt="" /> -->

  @if(isGenerated && !generatePending) {
  <div class="template-wrapper">
    <img class="template-image" src="assets/images/image-template.svg" alt="" />
    <img class="client-logo" [src]="usrLogo" [alt]="txt1Control?.value" />
    <p class="txt-1">{{ txt1Control?.value }}</p>
    <p class="txt-2">{{ txt2Control?.value }}</p>
    <p class="txt-3">{{ txt3Control?.value }}</p>
  </div>
  <button
    class="download-button"
    type="button"
    mat-raised-button
    color="primary"
    (click)="html2image()"
  >
    Download
  </button>
  }
</div>

<!-- print template -->
@if(isPrintingPending) {
<div #generatedTemplate class="print-wrapper" id="generatedTemplate">
  <img
    style="width: 100%; height: 100%"
    src="assets/images/image-template.svg"
    alt="template-generator"
  />
  <img
    class="client-logo"
    style="width: 600px; height: 300px"
    [src]="usrLogo"
    [alt]="txt1Control?.value"
  />
  <p class="txt-1" style="font-size: 26px; top: 50.5%">
    {{ txt1Control?.value }}
  </p>
  <p class="txt-2" style="font-size: 30px; top: 54%">
    {{ txt2Control?.value }}
  </p>
  <p class="txt-3" style="font-size: 30px; top: 57.5%">
    {{ txt3Control?.value }}
  </p>
</div>
} @if(isPrintingPending) {
<div class="loader">
  <div class="spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
}
